/**
 * @name test
 * @version 8.0
 * @description A simple but highly customizable theme, now sugar free!
 * @author Spectra
 * @invite PZdnCVD
 * @source https://github.com/xcruxiex/themes
 * @website https://betterdiscord.app/theme/Neutron
 * @BDEditor Neutron
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100;300;400;500;700&display=swap');
@import url('https://xcruxiex.github.io/themes/themes-cores/neutron8.css');

:root {
  --backgroundImage: url('https://i.imgur.com/sbQkXuO.jpg');
  --backgroundColor: #020023;
  --backgroundSize: 100%;
  --backgroundPosition: center;
  --backgroundRepeat: repeat;
  --backgroundBlur: 18px;
  --backgroundOpacity: 0.5;
  --homeImage: url('https://i.imgur.com/sHNqU1y.png');
  --homeImageSize: 100%;
  --themeColor1: #00CAFF;
  --themeColor2: #8C07A6;
  --customFont: Nunito Sans;
  --backgroundCode: rgb(0,0,0,0.41);
  --backgroundName: rgb(0,0,0,0.6);
}

/* Any custom CSS below here */


